body {
    font-family: Arial, sans-serif;
    padding: 20px;
    height: 100vh;
}

.container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.calendar-wrapper {
    width: 50%;
}

.calendar {
    height: fit-content;
    border: 1px solid #ccc;
}

/* ocultar horas */
.fc-timegrid-axis,
.fc-timegrid-slot-label {
    display: none;
}

.fc-scroller {
  overflow: hidden !important;
}

.fc-view-harness, .fc-view-harness-passive {
    height: 100% !important;
}

/* modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 6px;
}

.modal-content input {
    width: 100%;
    margin-bottom: 10px;
}

.modal-content button {
    width: 100%;
    margin-top: 10px;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color-box {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #ccc;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .color-box {
  border: 3px solid black;
}

.fin-de-semana {
    background-color: #f3f3f3 !important;
}